


<%= form_for [ @furniture, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if user_signed_in? %>

 <div class="row col-md-12">
   <%= f.text_field :body, :placeholder => "What do you think?", :class => "input" %>
  </div>
  
 

  <div class=" row col-md-12 actions input">
    <%= f.submit %>
  </div>

  <% else %>
   <p class= "back_links1"><%= link_to "Login to comment", new_user_session_path %></p>
  <% end %>
<% end %>

