
<div class="general_navbar">
<%= render 'layouts/navbar' %>
</div>


<div class="container">

<div class="row">

<div class="col-md-2"></div> <!-- just a space -->

<div class="col-md-8">

  <div class="row">

<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.text_field :name, :class => "input back_links", :placeholder => "Name of shop"  %>
  </div>
  <div class="field">
    <%= f.text_field :location, :class => "input back_links", :placeholder => "Where is located?" %>
  </div>
  <div class="field">
    <%= f.text_field :contact_info, :class => "input back_links", :placeholder => "Enter your contacts" %>
  </div>
  <div class="field">
    <%= f.text_field :age, :class => "input back_links", :placeholder => "How long has it been in operational?" %>
  </div>
  <div class="field">
    <%= f.text_field :payment_mode, :class => "input back_links", :placeholder => "What's your most preffered mode of payment?" %>
  </div>
  
  <div class="field">
    <%= f.text_area :description, :class => "input back_links", :placeholder => "Tell us a bit about your shop" %>
  </div>

  <div class="field">
    <%= f.file_field :avatar, :class => "input back_links", :placeholder => "Add a picture" %>
  </div>

  <div class="field">
    <%= f.file_field :background_image, :class => "input back_links", :placeholder => "Add an optional background_image" %>
  </div>


  </div> <!-- end of row with those stuff -->


  <div class="row">

      <div class="col-md-2">
      <%= link_to 'Cancel', shops_path, :class => "btn" %>
      </div>

      <div class="col-md-6"></div>
       <div class="col-md-4">
        <%= f.submit "Create Shop", :class => "btn" %>
        </div>
  </div>

<% end %>

</div> <!-- column with the details -->

<div class="col-md-2"></div> <!-- the other white space
 -->
</div> <!-- the main row
 -->
</div>
