<p><%= image_tag furniture.avatar.url, :class => "the_images"%></p>
        <p>Title:<%= furniture.title %></p>
        <p>Price in Ksh:<%= furniture.price %></p>

        
        <p>Shop:<%= furniture.attributes %></p>

       
        <p><%= link_to 'Show', furniture %></p>