<div class="container">

<p id="notice"><%= notice %></p>
<header id="shops">
<h1>All Shops</h1>

</header>

  <div class="row">
    <% @shops.each do |shop| %>
      <tr>
      <td><%= image_tag shop.avatar.url %></td>
        <td><%= shop.name %></td>
        <td><%= shop.location %></td>
        
        <td><%= shop.age %></td>
        <td><%= shop.payment_mode %></td>
        <td><%= shop.user_id %></td>
        <td><%= shop.description %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'New Shop', new_shop_path %>
</div> <!-- row with all shops listed -->
</div> <!-- the container -->