<div id="main_page3">
      
         <%= render 'layouts/navbar' %>
         <h2><%= @shop.name %><h2>
 </div>

<p id="notice"><%= notice %></p>

<div class="container">

<div class="row needsomebreak1">

       <div class="col-md-3">

          <%= image_tag @shop.avatar.url, :class => "product_image_shop" %>

           <% if @shop.user %>
         <div class="row col-md-12">
         <%= content_tag(:p, "Owner: ".concat(@shop.user_id.to_s), :class => "ruby_text_display2" )  %>
           </div>
         <% end %>


         <div class="row col-md-12">
         <%= content_tag(:p, "Shop Location:".concat(@shop.location), :class => "ruby_text_display2" )  %>
         </div>


       <div class="row col-md-12">
         <%= content_tag(:p, "Contact Information:".concat(@shop.contact_info), :class => "ruby_text_display2" )  %>
        </div>


         <% if @shop.age %>
         <div class="row col-md-12">
         <%= content_tag(:p, "Years in Operation: ".concat(@shop.age.to_s), :class => "ruby_text_display2" )  %>
           </div>
         <% end %>



        <div class="row col-md-12">
        <%= content_tag(:p, "Preffered payment mode: ".concat(@shop.payment_mode), :class => "ruby_text_display2" )  %>
       </div>

       <div class="row col-md-12">
        <%= content_tag(:p, "About this shop: ".concat(@shop.description), :class => "ruby_text_display2" )  %>
       </div>

      
        <div class="row col-md-12 ">
          
          <%= link_to 'Edit', edit_shop_path(@shop), :class => "back_links" %> |
          <%= link_to 'Back', shops_path, :class => "back_links" %>

          </div>


      </div> <!-- end of column with shop details -->

     <div class="col-md-9">



       <div class="row">

         <div class="col-md-8">
          <h3 class="back_links2">This Shop has these furnitures</h3>
          </div>
        
          <div class="col-md-4">

          <h1 class="back_links1">Post a New furniture</h1>
          </div>
       </div>



         <div class="row">

          <%= render partial: 'shops/furniture', collection: @shop.furnitures %>

          </div>

          <div class="row">

          <%= render partial: 'furnitures/form' %>

          </div>

     </div> <!-- column 9 with the displayed furniture -->

</div> <!-- the main row -->

</div> <!-- the main container -->