<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @shop.location %>
</p>

<p>
  <strong>Contact info:</strong>
  <%= @shop.contact_info %>
</p>

<p>
  <strong>Age:</strong>
  <%= @shop.age %>
</p>

<p>
  <strong>Payment mode:</strong>
  <%= @shop.payment_mode %>
</p>

<p>
  <strong>User:</strong>
  <%= @shop.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @shop.description %>
</p>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
<td><%= link_to 'Destroy', @shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>


<h3>Furnitures</h3>
<%= render partial: 'shops/furniture', collection: @shop.furnitures %>

<%= render partial: 'furnitures/form' %>
