<div class="container">

  <!-- a catchy background -->
	<div class="row" id="main_page">
		<h2>Your one stop shop for all of your furniture</h2>
	</div>

	<!-- how it works -->

	<div class="row">
		<h2>How it works</h2>
	</div>
	<div class="row col-md-12">
		<button type="button" class="btn btn-primary">Buyer</button>
		<button type="button" class="btn btn-primary">Seller</button>
	</div>

    <!-- For the buyer  -->
    <div class="row">
    	<div class="col-md-4 borders">
    		<h3>
    			Browse through products
    		</h3>
    	</div>
    	<div class="col-md-4 borders">
    		<h3>Sign Up or Login</h3>
    	</div>
    	<div class="col-md-4 borders">
    		<h3>Buy</h3>
    	</div>
    </div> 
    

    <!-- for the seller -->
    <div class="row">
    	<div class="col-md-4 borders">
    		<h3>
    			Sign Up or Login
    		</h3>
    	</div>
    	<div class="col-md-4 borders">
    		<h3>Open a shop</h3>
    	</div>
    	<div class="col-md-4 borders">
    		<h3>Upload products</h3>
    	</div>
    </div> 
   <!-- top 5 rated furniture -->

	<div class="row">
		<h2>Most popular design</h2>
	</div>

	<div class="row">
		
  
  
    <% @furnitures.each do |furniture| %>
      <div class="col-md-2">
        
        <p>Title: <%= furniture.title %></p>
        
        <p><%= furniture.image %></p>
        <p>Price:<%= furniture.price %></p>
       
        <p>Delivery?<%= furniture.delivery %></p>
       
     </div>
    <% end %>
 
		<p>see more</p>
	</div>
   <!--  top 5 rated carpenters -->
	<div class="row">
		<h2>Top rated Furniture shops</h2>
	</div>

	<div class="row">
		<% @shops.each do |shop| %>
        <div class="col-md-2">
        <p>Name:<%= shop.name %></p>
        <p>Location:<%= shop.location %></p>
        <p>Shop Owner:<%= shop.user_id %></p>
        </div>
        
         <% end %>
		<p>see more</p>
	</div>
</div>
