  <!-- a catchy background -->
	<div id="main_page">
      
         <%= render 'layouts/navbar' %>
    
		<h2>Get the best furniture from top class carpenters</h2>


	</div>


 <div class="container"> 

	<!-- how it works -->
<div class="row topics">
    <h2>How it works</h2>
</div>


  <%= render 'layouts/howitworks' %>

	
	   
   <!-- top 5 rated furniture -->

	<div class="row topics">
		<h2>Most popular products</h2>
	</div>

	<div class="row">
		
  
  
    <% @furnitures.each do |furniture| %>
      <div class="col-md-3 the_box">
        <p><%= image_tag furniture.avatar.url, :class => "the_images" %></p>

        <div class="row ">

        <div class="col-md-6">
           <p> <%= content_tag(:p, furniture.title, :class => "ruby_text_display" )  %></p>
        </div>
        <div class="col-md-6">
           <p> <%= content_tag(:p, "Ksh ".concat(furniture.price.to_s), :class => "ruby_text_display" )  %></p>
        </div>
       </div>
       

       <!--  user can see more details even if not signed in  -->

        
             <p class="details"><%= link_to 'Details', furniture %></p>
      

      
     </div>
    <% end %>

    </div>

    <div class="row more_info">
 
		<p><%= link_to 'More Furniture', furnitures_path, :class => "btn"%></p>
	</div>
  
	<div class="row topics">
		<h2>Top rated Furniture shops</h2>
	</div>

     <!--  top 5 rated carpenters -->

	<div class="row">
		<% @shops.each do |shop| %>
        <div class="col-md-3 the_box">
        <p><%= image_tag shop.avatar.url, :class => "the_images"%></p>

        <div class="row ">

        <div class="col-md-6">
           <p> <%= content_tag(:p, shop.name, :class => "ruby_text_display" )  %></p>
        </div>
        <div class="col-md-6">
           <p> <%= content_tag(:p, shop.location, :class => "ruby_text_display" )  %></p>
        </div>
       </div>


        
        <p class="details"><%= link_to 'more details', shop %></p>

        
          
        </div>
        
         <% end %>
         </div>

   <div class="row more_info">
		<p><%= link_to 'More Shops', shops_path, :class => "btn" %></p>
	</div>
</div>
