<div class="general_navbar">
<%= render 'layouts/navbar' %>
</div>

<div class="container">


<div id="login_container">
  
<h2>Log in</h2>

<div class="form_container">
  
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="field">
                <%= f.label :email,  :class => "label" %><br />
                <%= f.email_field :email, :class => "texty", autofocus: true  %>
              </div>

              <div class="field">
                <%= f.label :password, :class => "label" %><br />
                <%= f.password_field :password, :class => "texty", autocomplete: "off" %>
              </div>

              <div class="form_end">
                  
                  <% if devise_mapping.rememberable? -%>
                    <div class="row remember">

                      <div class="col-md-3">
                          <%= f.check_box :remember_me   %>
                      </div>

                          <div class="col-md-8">
                             <%= f.label :remember_me %>
                          </div>

                    </div>
                  <% end -%>

                  <div class="col-md-12">
                    <%= f.submit "Log in", :class => "login_button" %>
                  </div>

              </div>
        <% end %>
  </div>
            <div class="row shared_links">
            <%= render "devise/shared/links" %>
            </div>
</div>

</div>