
<div class="col-md-12 needsomebreak1">
<h1 class="back_links1">Post a New furniture</h1>

</div>


<%= form_for [@shop, @furniture] do |f| %>
  <% if @furniture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@furniture.errors.count, "error") %> prohibited this furniture from being saved:</h2>

      <ul>
      <% @furniture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>





  <div class="field">
   
    <%= f.file_field :avatar, :class => "input back_links", :placeholder => "Image"%>
  </div>
  <div class="field">
    
    <%= f.text_field :title, :class => "input back_links", :placeholder => "Name of furniture" %>
  </div>
  <div class="field">
   
    <%= f.text_area :description, :class => "input back_links", :placeholder => "description" %>
  </div>
  
  <div class="field">
   
    <%= f.text_field :price, :class => "input back_links", :placeholder => "Price in Ksh" %>
  </div>
  <div class="field">
   
    <%= f.number_field :stock, :class => "input back_links", :placeholder => "How many do you have?" %>
  </div>
  <div class="field">
   
    <%= f.text_field :category, :class => "input back_links", :placeholder => "category" %>
  </div>
  <div class="field">
   
    <%= f.text_field :delivery, :class => "input back_links", :placeholder => "Do you offer delivery" %>
  </div>
  <div class="actions">
    <%= f.submit "post", :class => "right_button" %>
  </div>
<% end %>
