<div class="container">
<p id="notice"><%= notice %></p>

<header id="product_head">
<h1>All Furniture</h1>
</header>
 
<div class="row">
  
    <% @furnitures.each do |furniture| %>
      <div class="col-md-3" id="furniture_box">
        <p><%= image_tag furniture.avatar.url, :class => "furniture_images"%></p>
        <p>Title:<%= furniture.title %></p>
        <p>Price in Ksh:<%= furniture.price %></p>
        <p><%= link_to 'Show', furniture %></p>
        
      </div>
    <% end %>
 
</div> <!-- end of product row -->


<%= link_to 'New Furniture', new_furniture_path %>
</div> <!-- the container -->