	<div id="main_page2">
      
         <%= render 'layouts/navbar' %>
    
		<h2>All Furnitures</h2>


	</div>



<div class="container">
<p id="notice"><%= notice %></p>

 
<div class="row">
  
    <% @furnitures.each do |furniture| %>
      <div class="col-md-3 the_box">
        <p><%= image_tag furniture.avatar.url, :class => "the_images" %></p>

        <div class="row ">

        <div class="col-md-6">
           <p> <%= content_tag(:p, furniture.title, :class => "ruby_text_display" )  %></p>
        </div>
        <div class="col-md-6">
           <p> <%= content_tag(:p, "Ksh ".concat(furniture.price.to_s), :class => "ruby_text_display" )  %></p>
        </div>
       </div>

       <div class="row more_info">
             <p><%= link_to 'More Details', furniture %></p>
        </div>
      </div>
    <% end %>
 
</div> <!-- end of product row -->


<%= link_to 'New Furniture', new_furniture_path %>
</div> <!-- the container -->